@bg__footer: #f2f2f2;
.footer {
    min-height: 384px;

    &-menu {
        
        background-color: @bg__footer;
        &__content {
            ._flex;
            flex-wrap: wrap;
            ._justify-content (space-between); 
            min-height: 316px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &__items {
            width: 14.4736%;
            min-width: 165px;
            &:first-child {
                width: 23.0701%;
                min-width: 263px;

                @media (max-width: 991px) {
                    width: 100%;
                }

                @media (max-width: 767px) {
                    width: 23.0701%;
                }
            }

            &--title {
                font-size: 18px;
                font-weight: 700;
                margin: 12px 0 18px 0;
            }
            &--ul {
                list-style-type: none;
            }
            .nav {
                &__list {
                    font-size: 13px;
                    font-weight: 500;
                    height: 36px;
                    a {
                        text-decoration: none;
                        color: @__gray;
                        &:hover {
                            color: @__blue;
                        }
                    }
                }

                &__p {
                    ._flex;
                    a {
                        text-decoration: none;
                        margin-left: 6px;
                    }
                    &--icon {
                        margin-right: 16px;
                        font-size: 1rem;
                        
                    }

                    &--last {
                        margin-top: 30px;
                        
                        i {
                            color: @__gray;
                            &:hover {
                                color: @__blue;
                            }
                        }
                    }
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 11px;
                }

                
            }
        }
    }

    &-copyright {
        min-height: 68px;
        ._flex;
        ._align-items (center); 
        font-size: 12px;
        font-weight: 500;
        &__logo {
            margin-left: auto;
            ._flex;
            ._justify-content (space-between); 
            max-width: 358px;
            width: 100%;
            img {
                width: 60px;
                @media (max-width: 479px) {
                    width: 50px;
                }
            }
            @media (max-width: 767px) {
                margin-left: 0;
                ._justify-content (space-around); 

            }
        }

        @media (max-width: 767px) {
            ._flex-dir__column--rev;
            line-height: 24px;
        }
    }
}